div.fileitem div.mime_application-7zip { background-image:url(../img/application-7zip.png); }
div.fileitem div.mime_application-atomxxml { background-image:url(../img/application-atomxxml.png); }
div.fileitem div.mime_application-illustrator { background-image:url(../img/application-illustrator.png); }
div.fileitem div.mime_application-javascript { background-image:url(../img/application-javascript.png); }
div.fileitem div.mime_application-mbox { background-image:url(../img/application-mbox.png); }
div.fileitem div.mime_application-msword { background-image:url(../img/application-msword.png); }
div.fileitem div.mime_application-octet-stream { background-image:url(../img/application-octet-stream.png); }
div.fileitem div.mime_application-ogg { background-image:url(../img/application-ogg.png); }
div.fileitem div.mime_application-pdf { background-image:url(../img/application-pdf.png); }
div.fileitem div.mime_application-pgp-encrypted { background-image:url(../img/application-pgp-encrypted.png); }
div.fileitem div.mime_application-pgp-keys { background-image:url(../img/application-pgp-keys.png); }
div.fileitem div.mime_application-pkcs7-mime { background-image:url(../img/application-pkcs7-mime.png); }
div.fileitem div.mime_application-rssxxml { background-image:url(../img/application-rssxxml.png); }
div.fileitem div.mime_application-rtf { background-image:url(../img/application-rtf.png); }
div.fileitem div.mime_application-text { background-image:url(../img/application-text.png); }
div.fileitem div.mime_application-vnd-ms-access { background-image:url(../img/application-vnd.ms-access.png); }
div.fileitem div.mime_application-vnd-ms-excel { background-image:url(../img/application-vnd.ms-excel.png); }
div.fileitem div.mime_application-vnd-ms-powerpoint { background-image:url(../img/application-vnd.ms-powerpoint.png); }
div.fileitem div.mime_application-vnd-oasis-opendocument-database { background-image:url(../img/application-vnd.oasis.opendocument.database.png); }
div.fileitem div.mime_application-vnd-oasis-opendocument-formula { background-image:url(../img/application-vnd.oasis.opendocument.formula.png); }
div.fileitem div.mime_application-vnd-oasis-opendocument-graphics { background-image:url(../img/application-vnd.oasis.opendocument.graphics.png); }
div.fileitem div.mime_application-vnd-oasis-opendocument-spreadsheet { background-image:url(../img/application-vnd.oasis.opendocument.spreadsheet.png); }
div.fileitem div.mime_application-vnd-oasis-opendocument-text { background-image:url(../img/application-vnd.oasis.opendocument.text.png); }
div.fileitem div.mime_application-vnd-oasis-opendocument-text-web { background-image:url(../img/application-vnd.oasis.opendocument.text-web.png); }
div.fileitem div.mime_application-vnd-openxmlformats-officedocument-presentationml-presentation { background-image:url(../img/application-vnd.openxmlformats-officedocument.presentationml.presentation.png); }
div.fileitem div.mime_application-vnd-openxmlformats-officedocument-presentationml-slideshow { background-image:url(../img/application-vnd.openxmlformats-officedocument.presentationml.slideshow.png); }
div.fileitem div.mime_application-vnd-openxmlformats-officedocument-spreadsheetml-sheet { background-image:url(../img/application-vnd.openxmlformats-officedocument.spreadsheetml.sheet.png); }
div.fileitem div.mime_application-vnd-openxmlformats-officedocument-wordprocessingml-document { background-image:url(../img/application-vnd.openxmlformats-officedocument.wordprocessingml.document.png); }
div.fileitem div.mime_application-vnd-rn-realmedia { background-image:url(../img/application-vnd.rn-realmedia.png); }
div.fileitem div.mime_application-vnd-scribus { background-image:url(../img/application-vnd.scribus.png); }
div.fileitem div.mime_application-vnd-sun-xml-calc { background-image:url(../img/application-vnd.sun.xml.calc.png); }
div.fileitem div.mime_application-vnd-sun-xml-draw { background-image:url(../img/application-vnd.sun.xml.draw.png); }
div.fileitem div.mime_application-vnd-sun-xml-writer { background-image:url(../img/application-vnd.sun.xml.writer.png); }
div.fileitem div.mime_application-vnd-wordperfect { background-image:url(../img/application-vnd.wordperfect.png); }
div.fileitem div.mime_application-x-7z-compressed { background-image:url(../img/application-x-7z-compressed.png); }
div.fileitem div.mime_application-x-7zip { background-image:url(../img/application-x-7zip.png); }
div.fileitem div.mime_application-x-ace { background-image:url(../img/application-x-ace.png); }
div.fileitem div.mime_application-x-archive { background-image:url(../img/application-x-archive.png); }
div.fileitem div.mime_application-x-arc { background-image:url(../img/application-x-arc.png); }
div.fileitem div.mime_application-x-bittorrent { background-image:url(../img/application-x-bittorrent.png); }
div.fileitem div.mime_application-x-cd-image { background-image:url(../img/application-x-cd-image.png); }
div.fileitem div.mime_application-x-class-file { background-image:url(../img/application-x-class-file.png); }
div.fileitem div.mime_application-x-compressed-tar { background-image:url(../img/application-x-compressed-tar.png); }
div.fileitem div.mime_application-x-compress { background-image:url(../img/application-x-compress.png); }
div.fileitem div.mime_application-x-csproj { background-image:url(../img/application-x-csproj.png); }
div.fileitem div.mime_application-x-cue { background-image:url(../img/application-x-cue.png); }
div.fileitem div.mime_application-x-deb { background-image:url(../img/application-x-deb.png); }
div.fileitem div.mime_application-x-designer { background-image:url(../img/application-x-designer.png); }
div.fileitem div.mime_application-x-desktop { background-image:url(../img/application-x-desktop.png); }
div.fileitem div.mime_application-x-executable { background-image:url(../img/application-x-executable.png); }
div.fileitem div.mime_application-x-extension-html { background-image:url(../img/application-x-extension-html.png); }
div.fileitem div.mime_application-x-flash-video { background-image:url(../img/application-x-flash-video.png); }
div.fileitem div.mime_application-x-glade { background-image:url(../img/application-x-glade.png); }
div.fileitem div.mime_application-x-gnome-theme-package { background-image:url(../img/application-x-gnome-theme-package.png); }
div.fileitem div.mime_application-x-gnumeric { background-image:url(../img/application-x-gnumeric.png); }
div.fileitem div.mime_application-x-gzip { background-image:url(../img/application-x-gzip.png); }
div.fileitem div.mime_application-x-jar { background-image:url(../img/application-x-jar.png); }
div.fileitem div.mime_application-x-java-archive { background-image:url(../img/application-x-java-archive.png); }
div.fileitem div.mime_application-x-java { background-image:url(../img/application-x-java.png); }
div.fileitem div.mime_application-x-javascript { background-image:url(../img/application-x-javascript.png); }
div.fileitem div.mime_application-x-keepass { background-image:url(../img/application-x-keepass.png); }
div.fileitem div.mime_application-x-lha { background-image:url(../img/application-x-lha.png); }
div.fileitem div.mime_application-x-lhz { background-image:url(../img/application-x-lhz.png); }
div.fileitem div.mime_application-x-m4 { background-image:url(../img/application-x-m4.png); }
div.fileitem div.mime_application-x-matroska { background-image:url(../img/application-x-matroska.png); }
div.fileitem div.mime_application-xml { background-image:url(../img/application-xml.png); }
div.fileitem div.mime_application-x-ms-dos-executable { background-image:url(../img/application-x-ms-dos-executable.png); }
div.fileitem div.mime_application-x-msdownload { background-image:url(../img/application-x-msdownload.png); }
div.fileitem div.mime_application-x-ole-storage { background-image:url(../img/application-x-ole-storage.png); }
div.fileitem div.mime_application-x-pak { background-image:url(../img/application-x-pak.png); }
div.fileitem div.mime_application-x-pem-key { background-image:url(../img/application-x-pem-key.png); }
div.fileitem div.mime_application-x-php { background-image:url(../img/application-x-php.png); }
div.fileitem div.mime_application-x-python-bytecode { background-image:url(../img/application-x-python-bytecode.png); }
div.fileitem div.mime_application-x-rar { background-image:url(../img/application-x-rar.png); }
div.fileitem div.mime_application-x-rpm { background-image:url(../img/application-x-rpm.png); }
div.fileitem div.mime_application-x-ruby { background-image:url(../img/application-x-ruby.png); }
div.fileitem div.mime_application-x-scribus { background-image:url(../img/application-x-scribus.png); }
div.fileitem div.mime_application-x-shellscript, div.fileitem div.mime_text-x-shellscript { background-image:url(../img/application-x-shellscript.png); }
div.fileitem div.mime_application-x-shockwave-flash { background-image:url(../img/application-x-shockwave-flash.png); }
div.fileitem div.mime_application-x-sln { background-image:url(../img/application-x-sln.png); }
div.fileitem div.mime_application-x-sqlite2 { background-image:url(../img/application-x-sqlite2.png); }
div.fileitem div.mime_application-x-sqlite3 { background-image:url(../img/application-x-sqlite3.png); }
div.fileitem div.mime_application-x-tar { background-image:url(../img/application-x-tar.png); }
div.fileitem div.mime_application-x-theme { background-image:url(../img/application-x-theme.png); }
div.fileitem div.mime_application-x-trash { background-image:url(../img/application-x-trash.png); }
div.fileitem div.mime_application-x-zip { background-image:url(../img/application-x-zip.png); }
div.fileitem div.mime_application-zip { background-image:url(../img/application-zip.png); }
div.fileitem div.mime_audio-mpeg { background-image:url(../img/audio-mpeg.png); }
div.fileitem div.mime_audio-x-adpcm { background-image:url(../img/audio-x-adpcm.png); }
div.fileitem div.mime_audio-x-flacxogg { background-image:url(../img/audio-x-flacxogg.png); }
div.fileitem div.mime_audio-x-generic { background-image:url(../img/audio-x-generic.png); }
div.fileitem div.mime_audio-x-mp3-playlist { background-image:url(../img/audio-x-mp3-playlist.png); }
div.fileitem div.mime_audio-x-mpeg { background-image:url(../img/audio-x-mpeg.png); }
div.fileitem div.mime_audio-x-mpegurl { background-image:url(../img/audio-x-mpegurl.png); }
div.fileitem div.mime_audio-x-ms-wma { background-image:url(../img/audio-x-ms-wma.png); }
div.fileitem div.mime_audio-x-scpls { background-image:url(../img/audio-x-scpls.png); }
div.fileitem div.mime_audio-x-speexxogg { background-image:url(../img/audio-x-speexxogg.png); }
div.fileitem div.mime_audio-x-vorbisxogg { background-image:url(../img/audio-x-vorbisxogg.png); }
div.fileitem div.mime_audio-x-wav { background-image:url(../img/audio-x-wav.png); }
div.fileitem div.mime_authors { background-image:url(../img/authors.png); }
div.fileitem div.mime_binary { background-image:url(../img/binary.png); }
div.fileitem div.mime_deb { background-image:url(../img/deb.png); }
div.fileitem div.mime_document { background-image:url(../img/document.png); }
div.fileitem div.mime_empty { background-image:url(../img/empty.png); }
div.fileitem div.mime_encrypted { background-image:url(../img/encrypted.png); }
div.fileitem div.mime_exec { background-image:url(../img/exec.png); }
div.fileitem div.mime_extension { background-image:url(../img/extension.png); }
div.fileitem div.mime_folder_tar { background-image:url(../img/folder_tar.png); }
div.fileitem div.mime_font_bitmap { background-image:url(../img/font_bitmap.png); }
div.fileitem div.mime_font { background-image:url(../img/font.png); }
div.fileitem div.mime_font_truetype { background-image:url(../img/font_truetype.png); }
div.fileitem div.mime_font_type1 { background-image:url(../img/font_type1.png); }
div.fileitem div.mime_font-x-generic { background-image:url(../img/font-x-generic.png); }
div.fileitem div.mime_font { background-image:url(../img/font.xpm); }
div.fileitem div.mime_gtk-file { background-image:url(../img/gtk-file.png); }
div.fileitem div.mime_html { background-image:url(../img/html.png); }
div.fileitem div.mime_image-bmp, div.fileitem div.mime_image-x-ms-bmp { background-image:url(../img/image-bmp.png); }
div.fileitem div.mime_image-gif { background-image:url(../img/image-gif.png); }
div.fileitem div.mime_image-jpeg2000 { background-image:url(../img/image-jpeg2000.png); }
div.fileitem div.mime_image-jpeg { background-image:url(../img/image-jpeg.png); }
div.fileitem div.mime_image { background-image:url(../img/image.png); }
div.fileitem div.mime_image-png { background-image:url(../img/image-png.png); }
div.fileitem div.mime_image-svgxxml { background-image:url(../img/image-svgxxml.png); }
div.fileitem div.mime_image-tiff { background-image:url(../img/image-tiff.png); }
div.fileitem div.mime_image-vnd-microsoft-icon { background-image:url(../img/image-vnd.microsoft.icon.png); }
div.fileitem div.mime_image-x-eps { background-image:url(../img/image-x-eps.png); }
div.fileitem div.mime_image-x-generic { background-image:url(../img/image-x-generic.png); }
div.fileitem div.mime_image-x-icon { background-image:url(../img/image-x-icon.png); }
div.fileitem div.mime_image-x-ico { background-image:url(../img/image-x-ico.png); }
div.fileitem div.mime_image-x-portable-bitmap { background-image:url(../img/image-x-portable-bitmap.png); }
div.fileitem div.mime_image-vnd-adobe-photoshop { background-image:url(../img/image-vnd-adobe-photoshop.png); }
div.fileitem div.mime_image-x-psd { background-image:url(../img/image-x-psd.png); }
div.fileitem div.mime_image-x-svgxxml { background-image:url(../img/image-x-svgxxml.png); }
div.fileitem div.mime_image-x-tga { background-image:url(../img/image-x-tga.png); }
div.fileitem div.mime_image-x-win-bitmap { background-image:url(../img/image-x-win-bitmap.png); }
div.fileitem div.mime_image-x-xcf { background-image:url(../img/image-x-xcf.png); }
div.fileitem div.mime_jpeg { background-image:url(../img/jpeg.png); }
div.fileitem div.mime_jpg { background-image:url(../img/jpg.png); }
div.fileitem div.mime_kpresenter_kpr { background-image:url(../img/kpresenter_kpr.png); }
div.fileitem div.mime_media-audio { background-image:url(../img/media-audio.png); }
div.fileitem div.mime_media-image { background-image:url(../img/media-image.png); }
div.fileitem div.mime_media-video { background-image:url(../img/media-video.png); }
div.fileitem div.mime_message { background-image:url(../img/message.png); }
div.fileitem div.mime_message-rfc822 { background-image:url(../img/message-rfc822.png); }
div.fileitem div.mime_misc { background-image:url(../img/misc.png); }
div.fileitem div.mime_multipart-encrypted { background-image:url(../img/multipart-encrypted.png); }
div.fileitem div.mime_none { background-image:url(../img/none.png); }
div.fileitem div.mime_office-document { background-image:url(../img/office-document.png); }
div.fileitem div.mime_office-illustration { background-image:url(../img/office-illustration.png); }
div.fileitem div.mime_office-spreadsheet { background-image:url(../img/office-spreadsheet.png); }
div.fileitem div.mime_openofficeorg3-database { background-image:url(../img/openofficeorg3-database.png); }
div.fileitem div.mime_openofficeorg3-drawing { background-image:url(../img/openofficeorg3-drawing.png); }
div.fileitem div.mime_openofficeorg3-extension { background-image:url(../img/openofficeorg3-extension.png); }
div.fileitem div.mime_openofficeorg3-oasis-database { background-image:url(../img/openofficeorg3-oasis-database.png); }
div.fileitem div.mime_openofficeorg3-oasis-spreadsheet { background-image:url(../img/openofficeorg3-oasis-spreadsheet.png); }
div.fileitem div.mime_opera-extension { background-image:url(../img/opera-extension.png); }
div.fileitem div.mime_opera-unite-application { background-image:url(../img/opera-unite-application.png); }
div.fileitem div.mime_opera-widget { background-image:url(../img/opera-widget.png); }
div.fileitem div.mime_package_editors { background-image:url(../img/package_editors.png); }
div.fileitem div.mime_package { background-image:url(../img/package.png); }
div.fileitem div.mime_package_wordprocessing { background-image:url(../img/package_wordprocessing.png); }
div.fileitem div.mime_package-x-generic { background-image:url(../img/package-x-generic.png); }
div.fileitem div.mime_pdf { background-image:url(../img/pdf.png); }
div.fileitem div.mime_phatch-actionlist { background-image:url(../img/phatch-actionlist.png); }
div.fileitem div.mime_playlist-automatic { background-image:url(../img/playlist-automatic.png); }
div.fileitem div.mime_playlist { background-image:url(../img/playlist.png); }
div.fileitem div.mime_rpm { background-image:url(../img/rpm.png); }
div.fileitem div.mime_shellscript { background-image:url(../img/shellscript.png); }
div.fileitem div.mime_sound { background-image:url(../img/sound.png); }
div.fileitem div.mime_source-playlist { background-image:url(../img/source-playlist.png); }
div.fileitem div.mime_source-smart-playlist { background-image:url(../img/source-smart-playlist.png); }
div.fileitem div.mime_spreadsheet { background-image:url(../img/spreadsheet.png); }
div.fileitem div.mime_stock_addressbook { background-image:url(../img/stock_addressbook.png); }
div.fileitem div.mime_stock_calendar { background-image:url(../img/stock_calendar.png); }
div.fileitem div.mime_stock_script { background-image:url(../img/stock_script.png); }
div.fileitem div.mime_svg { background-image:url(../img/svg.png); }
div.fileitem div.mime_tar { background-image:url(../img/tar.png); }
div.fileitem div.mime_template_source { background-image:url(../img/template_source.png); }
div.fileitem div.mime_text-css { background-image:url(../img/text-css.png); }
div.fileitem div.mime_text-enriched { background-image:url(../img/text-enriched.png); }
div.fileitem div.mime_text-htmlh { background-image:url(../img/text-htmlh.png); }
div.fileitem div.mime_text-html { background-image:url(../img/text-html.png); }
div.fileitem div.mime_text-mht { background-image:url(../img/text-mht.png); }
div.fileitem div.mime_text-plain { background-image:url(../img/text-plain.png); }
div.fileitem div.mime_text-richtext { background-image:url(../img/text-richtext.png); }
div.fileitem div.mime_text-spreadsheet { background-image:url(../img/text-spreadsheet.png); }
div.fileitem div.mime_text-x-authors { background-image:url(../img/text-x-authors.png); }
div.fileitem div.mime_text-x-bak { background-image:url(../img/text-x-bak.png); }
div.fileitem div.mime_text-x-bibtex { background-image:url(../img/text-x-bibtex.png); }
div.fileitem div.mime_text-x-changelog { background-image:url(../img/text-x-changelog.png); }
div.fileitem div.mime_text-x-cxxhdr { background-image:url(../img/text-x-cxxhdr.png); }
div.fileitem div.mime_text-x-chdr { background-image:url(../img/text-x-chdr.png); }
div.fileitem div.mime_text-x-copying { background-image:url(../img/text-x-copying.png); }
div.fileitem div.mime_text-x-c { background-image:url(../img/text-x-c.png); }
div.fileitem div.mime_text-x-cxx { background-image:url(../img/text-x-cxx.png); }
div.fileitem div.mime_text-x-credits { background-image:url(../img/text-x-credits.png); }
div.fileitem div.mime_text-x-cxxsrc { background-image:url(../img/text-x-cxxsrc.png); }
div.fileitem div.mime_text-x-csrc { background-image:url(../img/text-x-csrc.png); }
div.fileitem div.mime_text-x-css { background-image:url(../img/text-x-css.png); }
div.fileitem div.mime_text-x-generic { background-image:url(../img/text-x-generic.png); }
div.fileitem div.mime_text-x-generic-template { background-image:url(../img/text-x-generic-template.png); }
div.fileitem div.mime_text-xhtmlxxml { background-image:url(../img/text-xhtmlxxml.png); }
div.fileitem div.mime_text-x-install { background-image:url(../img/text-x-install.png); }
div.fileitem div.mime_text-x-java { background-image:url(../img/text-x-java.png); }
div.fileitem div.mime_text-x-javascript { background-image:url(../img/text-x-javascript.png); }
div.fileitem div.mime_text-x-java-source { background-image:url(../img/text-x-java-source.png); }
div.fileitem div.mime_text-x-makefile { background-image:url(../img/text-x-makefile.png); }
div.fileitem div.mime_text-xml { background-image:url(../img/text-xml.png); }
div.fileitem div.mime_text-x-preview { background-image:url(../img/text-x-preview.png); }
div.fileitem div.mime_text-x-python { background-image:url(../img/text-x-python.png); }
div.fileitem div.mime_text-x-readme { background-image:url(../img/text-x-readme.png); }
div.fileitem div.mime_text-x-script { background-image:url(../img/text-x-script.png); }
div.fileitem div.mime_text-x-source { background-image:url(../img/text-x-source.png); }
div.fileitem div.mime_text-x-sql { background-image:url(../img/text-x-sql.png); }
div.fileitem div.mime_text-x-tex { background-image:url(../img/text-x-tex.png); }
div.fileitem div.mime_text-x-vcard { background-image:url(../img/text-x-vcard.png); }
div.fileitem div.mime_txt2 { background-image:url(../img/txt2.png); }
div.fileitem div.mime_txt ,
div.fileitem div.mime_text-x-php
{ background-image:url(../img/txt.png); }
div.fileitem div.mime_unknown { background-image:url(../img/unknown.png); }
div.fileitem div.mime_vcalendar { background-image:url(../img/vcalendar.png); }
div.fileitem div.mime_video { background-image:url(../img/video.png); }
div.fileitem div.mime_video-x-generic { background-image:url(../img/video-x-generic.png); }
div.fileitem div.mime_vnd-oasis-opendocument-drawing { background-image:url(../img/vnd.oasis.opendocument.drawing.png); }
div.fileitem div.mime_wordprocessing { background-image:url(../img/wordprocessing.png); }
div.fileitem div.mime_www { background-image:url(../img/www.png); }
div.fileitem div.mime_x-dia-diagram { background-image:url(../img/x-dia-diagram.png); }
div.fileitem div.mime_x-office-address-book { background-image:url(../img/x-office-address-book.png); }
div.fileitem div.mime_x-office-document { background-image:url(../img/x-office-document.png); }
div.fileitem div.mime_x-office-drawing { background-image:url(../img/x-office-drawing.png); }
div.fileitem div.mime_x-office-presentation { background-image:url(../img/x-office-presentation.png); }
div.fileitem div.mime_x-office-spreadsheet { background-image:url(../img/x-office-spreadsheet.png); }
div.fileitem div.mime_zip { background-image:url(../img/zip.png); }
